<div class="pokedexTela">

  <div class="inputSearch">
    <h3><strong>Escolha o Pokemon: </strong></h3>
    <input [(ngModel)]="inputSearch" type="text" (ngModelChange)="TemPokemon()" class=""/>
  </div>

  <div class="divPai">
    <div class="box" *ngIf="temPokemon; else notFound">
      <div
      *ngFor="
        let pokemon of pokemons
        | searchPipe : inputSearch
        | slice : (currentPage - 1) * pageSize : currentPage * pageSize
        "
      class="listPokemon"
      (click)="selecionaPokemon(pokemon)"
      >

      <app-pokemon class="appPokemon" [pokemon]="pokemon" ></app-pokemon>
    </div>
  </div>

  <mat-paginator
  [length]="pokemonsFiltrados.length"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
  aria-label="Select page"
  *ngIf="paginar"
  >
  </mat-paginator>

  <ng-template #notFound>
    <h2 style="color: red">Nenhum pokemon encontrado</h2>
  </ng-template>
</div>

