.search input {
    margin-right: 10px;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: .5em;
    font-size: .8em;
}

.search input:focus {
    outline: none;
}