<div class="container">
  <nav class="wrap">
    <a id="backButton" *ngIf="hasCityId()" [routerLink]="['../']">
      <img src="assets/icons/keyboard_backspace-24px.svg" alt="back page icon">
    </a>
    <div class="logo">
      <img src="assets/icons/logo.svg" alt="climão logo">
    </div>
    <label for="inputCity" *ngIf="!hasCityId()">
      Search for a city weather:
      <input #search type="search" name="inputCity" id="inputCity">
    </label>
  </nav>
</div>

<div class="container">
  <div class="wrap-mobile">
    <router-outlet></router-outlet>
  </div>
</div>
