<div class="container">
    <div class="heading">
        <h1>Weather App</h1>

        <form (ngSubmit)=getCurrentWeather() [formGroup]="form">
            <mat-form-field class="region-input-field">
                <mat-label>Search for Region</mat-label>
                <input matInput placeholder="Ex. New York" required formControlName="region">
            </mat-form-field>
        </form>
    </div>


    <div *ngIf="currentWeather" class="weather-header">
        <div class="temperature">
            <strong>{{currentWeather.temperature}}°C</strong>
            <p>Observed at {{currentWeather.observationTime}}</p>
            <div class="description">{{currentWeather.description}}</div>
        </div>
        <div class="region-info">
            <strong class="title">{{locationData.name}}</strong>
            <p class="subtitle">{{locationData.region}} - {{locationData.country}}</p>
            <div class="coordinates">
                <i class="material-icons">explore</i>
                <span>{{locationData.lat}} , {{locationData.lon}}</span>
            </div>
        </div>
        <div class="weather-icon">
            <fa-icon [icon]="weatherIcon"></fa-icon>
        </div>
    </div>

    <div *ngIf="currentWeather" class="weather-info-list">
        <weather-info name="Humidity" [icon]="humidityIcon" value="{{currentWeather.humidity}}%"></weather-info>
        <weather-info name="Pressure" [icon]="pressureIcon" value="{{currentWeather.pressure}} mb"></weather-info>
        <weather-info name="Preciptation" [icon]="rainIcon" value="{{currentWeather.preciptation}} mm"></weather-info>
        <weather-info name="Wind Speed" [icon]="windIcon" value="{{currentWeather.windSpeed}} km/h"></weather-info>

        <weather-info name="Wind Direction" [icon]="directionIcon"
            value="{{currentWeather.windDirection}} {{currentWeather.windDegree}}º">
        </weather-info>
        <weather-info name="Visibility" [icon]="visibilityIcon" value="{{currentWeather.visibility}} km"></weather-info>
        <weather-info name="UV Index" [icon]="uvIcon" value="{{currentWeather.uvIndex}}"></weather-info>
        <weather-info name="Feels like" [icon]="feelsLikeIcon" value="{{currentWeather.feelsLike}} °C"></weather-info>
    </div>
</div>