.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
}

.heading{
    color: #fff;
    font-size: 2rem;

    h1{
        font-size: 4rem;
        font-weight: 500;
    }

    .region-input-field{
        width: 100%;
    }
}

.weather-header{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin-bottom: 30px;
    align-items: center;
}

.weather-icon{
    fa-icon{
        font-size: 8rem;
    }
}

.region-info{  
    text-align: left;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: 150px;
    
    .title{
        font-size: 3rem;
    }
    .subtitle{
        margin-top: 12px;
        color:#fff;
        font-size: 1rem;
    }

}

.coordinates{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    i{
        font-size: 1rem
    }
    
    span{
        font-size: 1rem;
        margin-top: 2px;
        margin-left: 2px;
    }
}

.temperature{
    text-align: left;
    margin-top: 15px;
    // margin-bottom: 15px;
    margin-right: 70px;
    text-align: left;
    color: #fff;

    strong{
        margin-bottom: 15px;
        font-size: 4rem;
    }

    p{
        font-size: 1rem;
        margin-top: 10px;
    }

    .description{
        font-size: 2rem;
    }
}


.weather-info-list{
    display: flex;
    width: 70%;
    height: 350px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    .weather-info{
        padding: 15px;
    }
}

.weather-data{
    display: flex;
    width: 800px;
    flex-direction: column;
    background-color: #fff;
    color:#492370;
    border-radius: 100;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: white;
    }
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-underline {
        background-color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-ripple {
        background-color: #BC32F8;
    }
    .mat-form-field-required-marker {
        color: #BC32F8;
    }
    .mat-input-element {
        color: white;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #BC32F8;
    }
    .mat-form-field-label {
        color: white;
        .mat-form-field-required-marker {
            color: white;
        }
    }
    .mat-form-field-ripple {
        background-color: white;
    }
}




