/* Header */
header {
    background: linear-gradient(to right, rgb(111, 194, 233), rgb(49, 22, 201)) no-repeat fixed;

    padding: 15px 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 27pt;

    margin: 5px 0;

    cursor: pointer;
}

.searchBar {
    border-radius: 18px;

    background-color: rgba(0, 0, 0, 0.3);

    width: 500px;
    height: 36px;

    padding: 0 18px;
    margin: 5px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar:hover {
    box-shadow: 0px 0px 2px black;
}

.searchBarItems {
    font-size: 13pt;

    background-color: transparent;
    border-style: none;

    padding: 0px 10px;
}

.searchBarItems:focus {
    outline: 0;
}

.searchBar input {
    color: inherit;
    width: 100%;
}

.searchBar input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.searchBar button {
    color: rgba(255, 255, 255, 0.6);
}

.searchBar button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.searchBar button:active {
    background-color: rgba(0, 0, 0, 0.4);
}

/* mainBody */
.mainBody {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* footer */
footer {
    text-align: center;
}

footer a {
    color: inherit;
    font-weight: 500;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.5);
}