
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" ></div>
      <mat-card-title>{{pokemonDetails.name}}</mat-card-title>
      <mat-card-subtitle>Nº {{pokemonDetails.id}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-xl-image [src]="pokemonDetails.sprites.other.showdown.front_default" alt="Photo of a pokemon">

    <mat-card-content>
      <h4><strong>Habilidades do Pokemon:</strong></h4>
      <div *ngFor="let ability of pokemonDetails.abilities">
        <h5><strong>{{ability.ability.name.toLocaleUpperCase()}}</strong></h5>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="tipoPokemon">
        <div *ngFor="let tipo of pokemonDetails.types">
          <button style="color: aliceblue;" [ngStyle]="corTipoPokemon(tipo.type.name)" mat-button>{{tipo.type.name}}</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Status pokemon</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngFor="let stat of pokemonDetails.stats" class="pokemonStatus">
        <h3><strong>{{stat.stat.name}}: {{stat.base_stat}}</strong></h3>
      </div>

      <div>
        <h3><strong>Status Totais: {{totalStatus}}</strong></h3>
      </div>

      <hr>
      <h3><strong>Altura: {{pokemonDetails.height * 10}} Cm</strong></h3>
      <h3><strong>Peso: {{pokemonDetails.weight / 10}} Kg</strong></h3>
    </mat-card-content>
</mat-card>

