* {
    margin: 0;
    padding: 0;
}

body, html, #app {
    width: 100%;
    height: 100%;
}

#app, body {
    position: absolute;
    top: 0;
}

#app {
    margin: 0;
    background-color: #174f6d;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 70vh;
    margin: 5em auto;
}

.weather-panel {
    height: 100%;
    width: 100%;
    background-color: #16394c;
    border: 4px solid #608094;
    border-radius: 10px;
    
}
