@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    height: 100%;
    margin: 0;  
}

#app {
    background-color: #174f6d;
    height: 100%;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.weather-panel {
    height: 100%;
    width: 100%;
    background-color: #16394c;
    border: 4px solid #608094;
    border-radius: 10px;
}
