.weather-icon {
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 1.8em;
}

.weather-icon img {
    width: 150px;
    height: 150px;
}

.weather-icon figcaption {
    margin-bottom: 10px;
}