.weather-icon {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
}

.weather-icon img {
    width: 150px;
    height: 150px;
}

.weather-icon figcaption {
    margin-bottom: 10px;
}