.cardMaiorBatalha{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ff0000;
  background-image: linear-gradient(33deg, #ff0000 2%, #FFFFFF 15%, #ffffff 90%, #f90000 100%);
  min-width: 80%;
  min-height: 390px;
}

.cardBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow:
  0px 0px 10px 0px rgba(0, 0, 0, 0.3),
  0px 4px 15px -5px rgba(0, 0, 0, 0.5),
  0px -4px 15px -5px rgba(0, 0, 0, 0.5);
}

input {
  margin-left: 20px;
  width: 60%;
}

.inputBatalha {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.cardInternoBatalha{
  margin-left: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  min-width: 270px;
  display: flex;
  justify-content: center;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
  width: 45%;
  height: 45%;
}

button {
  margin-left: 30px;
  background-color: black;
  color: white;
  min-height: 50px;
  max-height: 50px;
}

h2 {
  margin-left: 16px;
}

h1{
  margin-left: 16px;
}
