<div class="full-card card">
  <div class="card-header">
    <img src={{pinIcon}} alt="pin icon">
    <img src={{deleteIcon}} alt="delete icon">
  </div>
  <div class="card-content">
    <div class="location-info">
      <div class="left-info">
        <h2 class="location-name">
          {{cityDetails.location.name}}
        </h2>
        <p class="weather-description">
          {{cityDetails.current.weather_descriptions}}
        </p>
      </div>
      <div class="right-info">
        <p class="current-temperature">
          {{cityDetails.current.temperature}} °C
        </p>
      </div>
    </div>
    <div class="map">
      <img src={{addIcon}} alt="add icon" height="40" width="40">
    </div>
    <ul class="current-info">
      <li class="time-info">
        <h3><span><img src={{clockIcon}} alt="clock icon"></span>Local Time</h3>
        <p>{{ cityDetails.location.localtime_epoch | date:'hh:mm':'-0300' }}</p>
      </li>
      <li class="rain-info">
        <h3><span><img src={{waterIcon}} alt="wind icon"></span>Humidity</h3>
        <p>{{cityDetails.current.humidity / 100 | percent}}</p>
      </li>
      <li class="wind-info">
        <h3><span><img src={{windIcon}} alt="wind icon"></span>Wind</h3>
        <p>
          <span class="wind-speed">{{cityDetails.current.wind_speed}} km/h </span>
          <span *ngIf="cityDetails.current.wind_speed" class="wind-dir">{{cityDetails.current.wind_dir}}</span>
        </p>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <span>Request made at</span>
    <span>{{cityDetails.location.localtime}}</span>
  </div>
</div>
