<div class="divBody">
    <h1>Real-Time weather Data!</h1>
    <h3><p class="appName">WeatherPage</p> uses the <a href="https://weatherstack.com/" target="_blank">weatherstack API</a>, that is known for having:</h3>
    <hr>
    <div class="boxes">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <h4>Millions of Locations</h4>
            <p>See live weather data for millions of cities and towns worldwide, supporting a variety methods to look up any location.</p>
        </div>
        <div>
            <i class="fas fa-tachometer-alt"></i>
            <h4>Rock-Solid Uptime &amp; Speed</h4>
            <p>Powered by best-in-class cloud infrastructure, the weatherstack API delivers data in milliseconds around the clock with an uptime of nearly 100%.</p>
        </div>
    </div>
    <hr>
    <h2>Enter a City at the search bar to start</h2>
</div>