


// .CardInformacao{
   
// }

// .CardInformacao{}

 .card {
        width: 360px;
        padding: 32px 24px 48px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 20px 20px rgba(0,0,0,0.2),0 0 50px rgba(0,0,0,0.2);

        .figure{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 220px;
            margin-bottom: 40px;

            .figure_bg{
                position: absolute;
                border-radius: 50%;
                width: 160px;
                height: 160px;
                background: linear-gradient(#cc861d 0%, #987b62 33.46%, #9f60a4 66.1%, #7747eb 100%);
            }
            img{
                position: absolute;
                width: 180px;
            }
        }

        .content{
            text-align: left;
            margin-bottom: 32px;

            .title{
                font-family: Poppins,"sans-serif";
                font-weight: 600;
                font-size: 24px;
                color: #545252;
            }

            p{
                font-family: Poppins,"sans-serif";
                font-size: 14px;
            }
        }
        .footer{

            button {
                outline: none;
                border: none;
                width: 194px;
                height: 42px;
                border-radius: 21px;
                background: #cb7c15;
                color: white;
                cursor: pointer;
            }
        }
    }