{% extends 'base.html' %}

{% block home %}
    <a href="{% url 'index' %}">Home</a> 
{% endblock %}

{% block history %}
    <a  class="active" href="{% url 'search_history' %}">Searchs</a>
{% endblock %}



{%block content%}

    {% if searches %}

        <table class="table" id="Table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Temperature</th>
                <th scope="col">Description</th>
            </tr>
            </thead>

            <tbody>
                {% for search in searches %}
                    <tr>
                        <th scope="row">{{ search.location }}</th>
                        <td>{{ search.date }}</td>
                        <td>{{ search.search_time }}</td>
                        <td>{{ search.temperature }}</td>
                        <td>{{ search.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
        
        <div class= "Paginator">
            <span id = "previous">
                {% if searches.has_previous %}
                    <a href="?page={{ searches.previous_page_number }}">
                      <i class="fas fa-arrow-left"></i>
                    </a>
                {% endif %}
                    
                <span id="pages">
                    {{searches.number}} de {{searches.paginator.num_pages}}
                </span>

                {% if searches.has_next %}
                    <a href="?page={{ searches.next_page_number }}">
                        <i class="fas fa-arrow-right"> </i>    
                    </a>
                {% endif %}
            </span>
        </div>

    {% endif%}

{%endblock content%}