@import '../../../styles/theme';

.simple-card {
  width: 100%;
  padding: 15px 20px;
  background-color: $color-white;

  /* shadow */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: grid;
  grid-template-areas:
    "icon city-name"
    "icon wind";
  gap: 0.5rem;
  font-family: 'Roboto', sans-serif;

  .info-left {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .weather-icon {
      border-radius: 100px;
    }

    .weather-description {
      margin-top: 0.5rem;

      /*font*/
      font-style: italic;

    }
  }

  .location-info {
    grid-area: city-name;
    place-self: start end;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    /* font */
    font-family: 'Lobster', cursive;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    color: $color-gray-900;
    .city-name {
      text-align: right;
      max-width: 150px;
      /*font*/
    }
    .temperature-data {
      margin-left: 0.5rem;
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  .wind-data {
    grid-area: wind;
    place-self: end end;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;

    >*+* {
      margin-left: 0.5rem;
    }

    .wind-dir {
      color: $color-gray-900;
    }
  }
}
