 <div class="simple-card">
   <div class="info-left">
     <img class="weather-icon" src="https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png" alt="Partly Cloud icon" width="48" height="48">
     <p class="weather-description" >Partly Cloud</p>
   </div>
   <div class="info-right">
     <p class="location-data">Vitória<span class="temperature-data">23°C</span></p>
     <div class="wind-data">
       <img src={{windIcon}} alt="wind icon">
       <p class="wind-speed">7 km/h</p>
       <img src={{arrowIcon}} alt="compass icon">
       <p class="wind-dir">NE</p>
     </div>
   </div>
 </div>
