 <div class="simple-card">
   <div class="info-left">
     <img class="weather-icon" src={{cityWeather.current.weather_icons}} alt="{{cityWeather.current.weather_descriptions}} icon" width="48" height="48">
     <p class="weather-description" >{{cityWeather.current.weather_descriptions}}</p>
   </div>
   <div class="location-info">
      <!-- <div class="city-name">{{ cityWeather.location.name | truncate:[12, '...'] }}</div> -->
      <div class="city-name">{{ cityWeather.location.name }}</div>
      <div class="temperature-data">{{cityWeather.current.temperature}} °C</div>
   </div>
   <div class="wind-data">
     <img src={{windIcon}} alt="wind icon">
     <p class="wind-speed">{{cityWeather.current.wind_speed}} km/h</p>
     <!-- <img src={{arrowIcon}} alt="compass icon"> -->
     <p class="wind-dir">{{cityWeather.current.wind_dir}}</p>
   </div>
 </div>
